  <div class="col-md-4 col-xs-12 products">
    <%= image_tag(product.image_url, class: "img-responsive") %>
    <a href="#"><h1><%= product.name %></h1></a>
    <p><%= product.description %></p>
    <p><strong>£<%= product.price %></strong></p>
    <p><%= link_to 'Show', product %></p>
  </div><!-- /col-->
