<h1>Meet Your Cow...</h1>

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order.product.name, order.product %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@product.image_url, class: "img-responsive show-pic") %>
</p>

<p>
  <strong>Price:</strong>
  £<%= @product.price %>	
</p>


<%= link_to 'Edit', edit_product_path(@product) %> |

<%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %> |

<%= link_to 'Back', products_path %>
http://localhost:3000/products