<p id="notice"><%= notice %></p>

<h1>Meet Your Cow...</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag(@product.image_url, class: "img-responsive show-pic") %>
    </div>

    <div class="col-md-6">
      <p class="name">
        <%= @product.name %>
      </p>

      <p>
        <%= @product.description %>
      </p>

      <p>
        £<%= @product.price %>	
      </p>

      <p>
        <strong>Average Customer Rating</strong>
        <%= @product.average_user_rating %>
      </p>

      <p>
        <strong>Highest Rating</strong>
        <%= @product.highest_rating_comment %>
      </p>  

      <p>
        <strong>Lowest Rating</strong>
        <%= @product.lowest_rating_comment %>
      </p>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_product_path(@product) %> |

<%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %> |

<%= link_to 'Back', products_path %>
http://localhost:3000/products