<h1>Meet Your Cow...</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <%= image_tag(@product.image_url, class: "img-responsive show-pic") %>
    </div>

    <div class="col-md-6">
      <p class="name">
        <%= @product.name %>
      </p>

      <p>
        <%= @product.description %>
      </p>

      <p>
        £<%= @product.price %>	
      </p>

      <% if @product.highest_rating_comment.present? %>
        <p>
          <strong>Average Customer Rating:</strong>
          <div class="rated" data-score="<%= @product.average_rating %>"></div> 
        </p>
      <% else %>   
        <p>
          <strong>No ratings yet</strong>
        </p>
      <%end %>
    </div>
  </div>  

  <div class="row base">
    <div class="col-md-6">
      <% if @product.highest_rating_comment.present? %> 
        <p>
        <strong>Highest Rating</strong>
        <div class="rated" data-score="<%= @product.highest_rating_comment.rating %>">  
        </div>
        </p>
      <% end %>   
    </div>  

    <div class="col-md-6">
      <% if @product.lowest_rating_comment.present? %> 
      <p>  
        <strong>Lowest Rating</strong>
        <div class="rated" data-score="<%= @product.lowest_rating_comment.rating %>">  
        </div>
      </p>
      <% end %>
    </div>
  </div>


<!--<%= link_to 'Edit', edit_product_path(@product) %> |

<%= link_to 'Destroy', @product, method: :delete, data: { confirm: 'Are you sure?' } %> --> 




  <div class="row">

    <%= render 'new_comment' %>

    <%= render 'comments' %>

    <%= link_to 'Back', products_path, class: "btn btn-default pull-right" %>
    
  </div>
</div>
<div class="text-center">
  <%= will_paginate @comments %>  
</div>
